$xsmallScreen: "(max-width: 575.98px)";
$smallScreen: "(max-width: 767.98px)";
$mediumScreen: "(max-width: 991.98px)";
$largeScreen: "(max-width: 1199.98px)";
$xlargeScreen: "(max-width: 1399.98px)";
// colors
$mainColor: #afc86b;
$whiteColor: #ffffff;
$textColor: #292929;
$grayColor: #e9e9e9;
$redColor: #ff0000;
$blueColor: #3069af;
$textGrayColor: #2c2c2c;
//values
$trans: 0.3s;
//box shadow
$normalBoxShadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$boxShadow: -12px -12px 15px snow, 10px 10px 50px 8px #4d5d8838;
$boxShadowScandry: -2px -2px 5px white, 3px 3px 5px #39395968;
